@{<h2> Agenda</h2>


    <br />
    <div id="calender"></div>

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><span id="eventTitle"></span></h4>
                </div>
                <div class="modal-body">
                    <p id="pDetails"></p>
                </div>
                <div class="modal-footer">
                    <a href="https://localhost:44312/Reservation/Create?date=2021-10-10"> Reserveren</a>

                    <button type="button" class="btn btn-default" data-dismiss="modal">Sluit</button>
                </div>
            </div>
        </div>
    </div>
    <link href="~/Content/calender.css" rel="stylesheet">
@*<link href="~/Content/calender.print.css" rel="stylesheet">*@
@*<link href="~/Content/Calendar/main.css" rel="stylesheet">*@
}