<div class="list-group-item-heading">
    <h1>Reserveren</h1>
    <br />
    <div>
        <h4>Welkom op deze pagina voor het reserveren van een plekje op campsite Anne.</h4>
        
        <a href="/Reservation/Create"><button type="button" class="btn btn-default">Nieuwe reservering</button></a>

    </div>
</div>
