<!--Balk title-->
<h2 class="Title-Header">Welkom op camping Anne</h2>

<!--Title content-->
<h1 class="h1-cyan">Gezellige familiecamping op Texel</h1>
<br />

<!--Container with content info and image-->
<div class="container-info row">

    <!--Info-->
    <div class="info-block col-md-4 ">
        <h4 class="h4-cyan">Welkom op campsite van camping Anne.</h4>
        <br />
        <p>
            Camping Anne is een familiecamping in Texel.
            De camping is dichtbij het strand, grenst aan een prachtig bos- en duingebied en ligt centraal op het mooie eiland Texel.
            De badplaats De Koog is slecht 200 meter van de camping vandaan.
        </p>
        <p>
            We verhuren camping plaatsen waar huisdieren welkom zijn.
            De kampeerplaatsen zijn geschikt voor campers, tourcaravan, vouwwagens en tenten met een lengte van 8 meter.
        </p>
    </div>

    <!--Image-->
    <div class="bicycleImg col-md-4">
        <img src="~/Content/Images/plattegrond.png" width="350px 600px">
    </div>
</div>
</br>
<!--Title content-->
<h1 class="h1-cyan">Altijd wat te doen op Texel!</h1>

<!--Container with content info and image-->
<div class="container-info row">

    <!--Info-->
    <div class="info-block col-md-4 ">
        <h4 class="h4-cyan">Boordevol leuke uitstapjes.</h4>
        <br />
        <p>
            Texel is vanuit Den Helder te bereiken en vooral voor fiets- en wandelliefhebbers een perfect vakantiebestemming. 
            Texel biedt een variatie aan landschappen en is ongeveer 20 kilometer lang en 8 kilometer breed. De rijkdom aan vogels en 
            dieren maakt Texel een unieke plek om tot rust te komen. Bij een strandpaviljoen of restaurant kunt u culinair genieten van de 
            lokale producten zoals verschillende soorten Texels bier, wijn, lamsvlees, vis en kazen. 
            Waarschijnlijk tijd te kort om alles te beleven, ontdekken en ervaren
        </p>
       
    </div>

    <!--Image-->
    <div class="bicycleImg col-md-4">
        <img src="~/Content/Images/strandpaveljoen.jpg" width="350px 600px">
    </div>
</div>

